@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body{
 @apply bg-slate-800
}
.outside-box {
  @apply rounded-2xl bg-gradient-to-r from-cyan-500 via-red-500 to-amber-500 p-1 shadow-xl;
}
.inside-box {
  @apply rounded-xl bg-slate-800 -z-10 p-2 sm:p-4 lg:p-6;
}
.pool-card {
  background: conic-gradient(
    from 225deg at 49% 0%,
    rgba(202, 138, 4, 1) 0%,
    rgba(30, 64, 175, 1) 50%,
    rgba(30, 64, 175, 1) 100%
  );
  @apply shadow-lg shadow-blue-600 text-center rounded-lg h-full border-4  border-yellow-700 hover:scale-125;
}